<h1>All Products</h1>
<p> You have visited this site <%= pluralize @event, 'time' %> . </p>
<%= debug session[:cart] %>
<% @products.each do |product| %>
  <b>Name: <%= product.name %><br></b>
  Quantity<%= product.serial_number %><br>
  Price: <%= product.price %><br>
  <%= link_to 'Show', product_path(product), class: 'ui button' %><br><br>
  <%= link_to 'Edit', edit_product_path(product) %> <br><br>
  <%= link_to 'Delete',  product_path(product),  data: { confirm: "Are you sure?"}, method: :delete %> <br><br>
  <button class="ui blue button">
  Save
  </button>
  <p><%= link_to 'add to cart', add_to_cart_path(product.id),method: :post %></p>
<% end %>
<%= link_to 'sign_out', destroy_user_session_path, method: :delete %>
<%= link_to 'Edit Profile', edit_user_registration_path %>
