<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% if is_buyer? %>
<h1>All Products</h1>
<div align="center" ,class='contain' >
<%= form_tag "/products", method: "GET" do %>
  <%= label_tag :search_by_name %>
  <%= text_field_tag :search_by_name, params[:search_by_name] %>
    <%= submit_tag "Search" %>
<% end %>
<details>
<summary> SHOPPING CART </summary>
<% if @cart.empty? %>
  <p>No items in cart  </p>
  <% else %>
<ul>
<% @cart.each do |product| %>
  <li><%= product.name%> 
  <p> <button style= "background-color:#6495ED;"><%= link_to 'Remove from cart', remove_from_cart_path(product), method: :delete %></button><br><br>
</li>
   <button style= "background-color:#6495ED;"><%= link_to 'Place Order', place_order_path ,method: :get %></button><br><br>
  <% end %>
</ul>  
  <% end %>

</details>
    </div>
<% else %>
<h1>All Your Products</h1>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<div align="center" ,class='contain' >
<% @products.each do |product| %>
<% if product.image.attached? %>
<p>
<%= image_tag product.image.variant(resize: "500x500") %>
</p>
<% end %>
 <b>Name: <%= product.name %><br></b>
  Price: <%= product.price_cents %>$<br>
  <% if @cart.include?(product)%>
  <p> <button style= "background-color:#6495ED;"><%= link_to 'Remove from cart', remove_from_cart_path(product), method: :delete %></button><br><br>
  <% end %>
<% if is_seller? %>
 <button style= "background-color:#87CEFA;"><%= link_to "Edit Product Details", edit_product_path(product) %></button>
 <button style= "background-color:#87CEFA;"><%= link_to 'Delete Product',  product_path(product),  data: { confirm: "Are you sure?"}, method: :delete %></button>
<% else %>
   <button style= "background-color:#6495ED;"><%= link_to 'Add to Cart', add_to_cart_path(product.id),method: :post %></button><br><br>
    <button style= "background-color:#87CEFA;"><%= link_to "Add Comment", new_comment_path(product_id: product.id) %> </button>
 <button style= "background-color:#87CEFA;"><%= link_to 'Show Comments', comment_path(product) %></button>
<% end %>
 <button style= "background-color:#87CEFA;"><%= link_to "Show Product Details", product_path(product) %></button>
<br><br>
<% end %>
    </div>

<%# <%= link_to 'sign_out', destroy_user_session_path, method: :delete %>
<%# <%= link_to 'Edit Profile', edit_user_registration_path %> 
