<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="center" ,class='contain' >
<h1> New Product </h1>
<%= form_for @product, url: products_path(@product) do |form| %><br><br>

  Name: <%= form.text_field :name, required: true %><br><br>

  Serial Number: <%= form.text_field :serial_number, required: true, pattern: "[Z1-9]+" %><br><br>

  Price: <%= form.text_field :price, required: true, pattern: "[Z1-9]+" %><br><br>

  Image: <%= form.file_field :image, direct_upload: true  %><br><br>

  <%= form.submit %>
<% end %>
    </div>
